<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PBO-Beleg</title>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>
    
    <!-- Bootstrap-Bibos -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- andere Bibliotheken -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="styles/style.css" rel="stylesheet">
</head>
    <body>
        <div id="site">
            <!-- Header -->
            <div>
                <div data-role="header" data-position="fixed" data-theme="b">
                    <h1>PBO-Beleg: Jan Brose</h1>
                </div>
                <!--<div data-role="navbar">
                    <ul>
                        <li><a href="#Kontakt">Kontakt</a></li>
                    </ul>
                </div>-->
            </div>
            <!-- Content -->
            <!--<div class="container">-->
                <div class="row">

                    <!-- Linke Sidebar -->
                    <div class="col-lg-2 pull-left">
                        <h4>Orte</h4>
                            <ul>
                                <div v-for="item_0 in processdata.process.locations">
                                    <li><a>{{item_0.city}}</a></li>   
                                </div>
                            </ul>
                        <h4>Personen</h4>
                            <ul>
                                <div v-for="item_0 in processdata.process.stakeholder">
                                    <li><a>{{item_0.name}}</a></li>   
                                </div>
                            </ul>
                    </div>

                    <!-- Inhalt --> 
                    <div  class="col-lg-10 pull-right">
                        <div v-for="(item, i) in tmpprocess">
                            <!-- Collapsibles -->
                            <div data-role="collapsible">
                                <h1>{{item.name}}</h1>
                                <h5>Beschreibung</h5>
                                <p>{{item.description}}</p>
                                <h5>Informationen</h5>
                                <p>Ort: {{GetLocation(item.location)}}</p>
                                <p>Interressengruppe: {{GetStakeholder(item.initiator)}}</p>
                                <p>Zeitraum: {{ConvertTime(item.start)}} bis {{ConvertTime(item.end)}}</p>
                                <p>Teilnehmer: {{GetMembers(item.participants)}}</p>
                                <p>Status: {{item.participation}}</p>
                                <p>Übergeordnete Elemente: {{GetConnections(item.connection.from)}}</p>
                                <p>Untergeordnet Elemente: {{GetConnections(item.connection.to)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->

            <!-- footer -->
            <div class="footer" data-role="footer" data-position="fixed" data-theme="b" id="Kontakt">
                <h2 class="h2footer">Kontakt</h2>
                <div class="row">
                    <p class="col-lg-4" id="f1">Firma: {{processdata.system.contact}}</p>
                    <p class="col-lg-4" id="f2">Website: {{processdata.system.website}}</p>               
                    <p class="col-lg-4" id="f3">Email: {{processdata.system.email}}</p>
                </div>
            </div>


        </div>
        <!-- Scripte -->
        <script src="script/script.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>
</html>