<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PBO-Beleg</title>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>
    
    <!-- Bootstrap-Bibos -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- andere Bibliotheken -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="styles/style.css" rel="stylesheet">
</head>
    <body>
        <div id="site">
            <!-- Header -->
            <div>
                <div data-role="header" data-position="fixed" data-theme="b">
                    <h1 class="h1header">PBO-Beleg: Jan Brose/ Timon Fehse</h1>
                </div>
                <!--<div data-role="navbar">
                    <ul>
                        <li><a href="#Kontakt">Kontakt</a></li>
                    </ul>
                </div>-->
            </div>
            <!-- Content -->
            <!--<div class="container">-->
                <div class="row">

                    <!-- Linke Sidebar -->
                    <div class="col-lg-2 pull-left" id="lsb">
                        <div class="sidebar">
                            <br>
                            <h4>Projektstandorte</h4>
                                <ul>
                                    <div v-for="item_0 in processdata.process.locations">
                                        <li><a>{{item_0.city}}</a></li>   
                                    </div>
                                </ul>
                            <br>
                            <h4>Beteiligte Personen</h4>
                                <ul>
                                    <div v-for="item_0 in processdata.process.stakeholder">
                                        <li><a>{{item_0.name}}</a></li>   
                                    </div>
                                </ul>
                        </div>
                    </div>

                    <!-- Inhalt --> 
                    <div  class="col-lg-8">
                        <!-- Sortierleiste fällt weg -->
                        <!--<div class="row">
                            <button class ="col-lg-4" type="button">
                                <a>Namen</a>
                            </button>
                            <button class ="col-lg-4" type="button">
                                <a>Status</a>
                            </button>
                            <button class ="col-lg-4" type="button">
                                <a>Initiator</a>
                            </button>    
                        </div> -->
                        <div v-for="(item, i) in tmpprocess">
                            <!-- Collapsibles -->
                            <div data-role="collapsible" v-bind:class="GetColor(item.participation)">
                                <h1>{{item.name}}</h1>
                                
                                <h5>Beschreibung</h5>
                                <p>{{item.description}}</p>
                                <h5>Informationen</h5>
                                <p>Ort: {{GetLocation(item.location)}}</p>
                                <p>Interressengruppe: {{GetStakeholder(item.initiator)}}</p>
                                <p>Zeitraum: {{BuiltTime(item.start, item["end (optional)"])}}</p>
                                <p>Teilnehmer: {{GetMembers(item.participants)}}</p>
                                <p v-bind:class="GetColorp(item.participation)">Status: {{item.participation}}</p>
                                <p>Übergeordnete Elemente: {{GetConnections(item.connection.from)}}</p>
                                <p>Untergeordnet Elemente: {{GetConnections(item.connection.to)}}</p>
                            </div>
                            
                            

                        </div>
                    </div>

                    <!-- Rechter Sidebar -->
                    <div class="col-lg-2 pull-right" id="rsb">
                        <div class="sidebar">
                            <br>
                            <h4>Legende</h4>
                            <br>
                            <h5>Farben</h5>
                            <br>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td><p class="ptableheader">Farbe:</p></td>
                                        <td><p class="ptableheader">Bedeutung:</p></td>
                                    </tr>
                                    <tr>
                                        <td><p class="bg-danger text-white">Rot</p></td>
                                        <td><p>closed</p></td>
                                    </tr>
                                    <tr>
                                        <td><p class="bg-warning text-white">Orange</p></td>
                                        <td><p>partical opend</p></td>
                                    </tr>
                                    <tr>
                                        <td><p class="bg-success text-white">Grün</p></td>
                                        <td><p>open</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->

            <!-- footer -->
            <div class="footer" data-role="footer" data-position="fixed" data-theme="b" id="Kontakt">
                <h2 class="h2footer">Kontakt</h2>
                <div class="row">
                    <p class="col-lg-4" id="f1">Firma: {{processdata.system.contact}}</p>
                    <p class="col-lg-4" id="f2">Website: {{processdata.system.website}}</p>               
                    <p class="col-lg-4" id="f3">Email: {{processdata.system.email}}</p>
                </div>
            </div>


        </div>
        <!-- Scripte -->
        <script src="script/script.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>
</html>