html {
    position: relative;
    min-height: 100%;
  }

.footer {
    align-items: center;
}

.pfooter{
    text-align: center;
}
.h2footer{
    font-size: 48px;
}

#f1 {
    text-align: center;
}
#f2 {
    text-align: center;
}
#f3 {
    text-align: center;
}

.gcol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:lightgreen !important;
}

.rcol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:red !important;
}

.ocol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:orange !important;
}