html {
    position: relative;
    min-height: 100%;
  }

#site{
    background-color: paleturquoise !important;
}
.footer {
    align-items: center;
}

.pfooter{
    text-align: center;
}
.h2footer{
    font-size: 150% !important;
}
.h1header{
    font-size: 150% !important;
}

#f1 {
    text-align: center;
}
#f2 {
    text-align: center;
}
#f3 {
    text-align: center;
}

.gcol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background: rgb(9, 161, 9) !important;
    font-weight: normal !important;
    color: white !important;
}

.rcol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:rgb(194, 10, 10) !important;
    font-weight: normal !important;
    color: white !important;
}

.ocol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:orange !important;
    font-weight: normal !important;
    color: white !important;
}

.ptableheader{
    font-weight: bold !important;
}