html {
    position: relative;
    min-height: 100%;
  }

#site{
    background-color: paleturquoise !important;
}
.footer {
    align-items: center;
}

.pfooter{
    text-align: center;
}
.h2footer{
    font-size: 150% !important;
}
.h1header{
    font-size: 150% !important;
}

#f1 {
    text-align: center;
}
#f2 {
    text-align: center;
}
#f3 {
    text-align: center;
}

.gcol .ui-collapsible-heading-toggle {
    background: #28a745 !important;
    font-weight: normal !important;
    color: white !important;
}


.rcol .ui-collapsible-heading-toggle {
    background:#bc3545 !important;
    font-weight: normal !important;
    color: white !important;
}

.ocol .ui-collapsible-heading-toggle {
    background:#ffc107 !important;
    font-weight: normal !important;
    color: white !important;
}

.ptableheader{
    font-weight: bold !important;
}

.sidebar{
    position: fixed;
    margin: 1%;
}